<!DOCTYPE html>
<html>
<head>
<title>Customer Feedback Analysis</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Customer Feedback Analysis</h1>

<form action="/analyze" method="POST">

<input type="text"
name="name"
placeholder="Enter Your Name"
required>

<textarea
name="feedback"
placeholder="Enter Your Feedback"
required></textarea>

<button type="submit">
Submit Feedback
</button>

</form>

</div>

</body>
</html>
